/* Fonts Style
============================================*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geostar+Fill&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

/* Required Style
============================================*/
@import "../../node_modules/bootstrap/scss/functions";

/* Default variable overrides Style
============================================*/
@import "./variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/mixins";

/* Create your own map Style
============================================*/
$custom-colors: (
  "border-color-100": $border-color-100,
  "body-color-100": $body-color-100,
  "body-color-200": $body-color-200,
  "secondary-100": $secondary-100,
);
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

/* Required Utilities Parts Style
============================================*/
$utilities: (
  "font-size": (
    rfs: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
);

/* Merge the maps Style
============================================*/
$theme-colors: map-merge($theme-colors, $custom-colors);

// /* Required Style
// ============================================*/
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/root";

/* Optional Bootstrap components here Style
============================================*/
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";

/* Required Style
============================================*/
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Components Style */
@import "./pages/global";
@import "./pages/about";
@import "./pages/course";
@import "./pages/services";
@import "./pages/support_services";
@import "./components/about-us";
@import "./components/marquee";
@import "./components/more_services";
@import "./components/products_slider";
@import "./components/marquee_slider";
@import "./components/navbar";
@import "./components/footer";
@import "./components/whatsapp_button";
@import "./components/to_top_button";
@import "./components/carousel";
@import "./components/mobile_navbar";
@import "./components/contact_form";
@import "./components/products_listing";
@import "./components/courses_listing";
@import "./components/services_listing";
@import "./components/services_slider";
