/* About Us Area Style
============================================*/
.about-us-content {
    margin: -8px 0;
    .about-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; 
        font-family: $heading-font-family;
        display: block;
        margin-bottom: 24px;
    }
    h2 {
        font-size: 64px;
        font-weight: 400;
        line-height: 1.22;
        letter-spacing: -1.28px;
        margin-bottom: 0;
        span {
            color: $primary;
        }
    }
}
.about-content-top {
    max-width: 850px;
    margin: auto;
    h1 {
        color: $primary;
        font-size: 250px;
        font-weight: 400;
        line-height: 0;
        letter-spacing: -5px;
        margin-bottom: 0;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        line-height: 133.333%;
    }
}
.about-content {
    max-width: 850px;
    margin: auto;
    h3 {
        font-size: 36px;
        font-weight: 400;
        line-height: 88.889%;
        letter-spacing: 1.44px;
        margin-bottom: 25px;
    }
    .count {
        font-family: $heading-font-family;
        font-weight: 400;
        line-height: 160%; /* 160% */
        letter-spacing: 0.4px;
        position: relative;
        top: 4px;
        padding-right: 10px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        .title {
            font-family: $heading-font-family;
            font-weight: 400;
            line-height: 160%; /* 160% */
            letter-spacing: 0.4px;
        }
    }
    ul {
        li {
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .about-us-content {
        .about-title {
            margin-bottom: 15px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .about-content-top {
        h1 {
            font-size: 50px;
            line-height: normal;
        }
        p {
            font-size: 20px;
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .about-us-content {
        .about-title {
            margin-bottom: 15px;
        }
        h2 {
            font-size: 40px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .about-us-content {
        .about-title {
            margin-bottom: 15px;
        }
        h2 {
            font-size: 50px;
        }
    }

}