/* Authentication Area Style
============================================*/
.authentication-form {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(60px);
    max-width: 856px;
    margin: auto;
    padding: 50px 35px;
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 80%;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
        a {
            color: $white;
            font-size: 16px;
            font-weight: 700;
            text-decoration: none;
        }
    }
    .role-btn {
        font-family: $heading-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 114.286%;
        letter-spacing: 0.28px;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    .py-20 {
        padding: 20px 0;
    }
    .or {
        font-family: $heading-font-family;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.28px;
        padding-top: 20px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .authentication-form {
        padding: 20px;
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .authentication-form {
        padding: 30px;
    }

}