/*
backtoptop Area Style
======================================================*/
#backtotop {
	position: fixed;
	top: 100%;
	right: 30px;
    bottom: 30px;
	margin: auto;
	width: 40px;
	height: 40px;
	border: none;
	background-color: $primary;
	color: $white;
	transform: translateY(-100%);
	z-index: 2;
	transition: $transition;
	opacity: 0;
}