/* Banner Area Style
============================================*/
.banner-area {
    padding-bottom: 85px;
    &::before {
        content: "";
        position: absolute;
        top: -230px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1364px;
        background-image: url(../images/banner-bg-shape.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}
.banner-content {
    padding-top: 74px;
    h2 {
        font-size: 96px;
        letter-spacing: -1.92px;
        color: $white;
        line-height: 115%;
        margin-bottom: 274px;
    }
}
.play-single-card {
    border: 1px solid #E49B8C;
    border-radius: 20px;
    padding: 20px;
    padding-top: 89px;
    h3 {
        letter-spacing: 0.32px;
        margin-bottom: 10px;
        font-weight: 400;
        line-height: 25px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.1%, rgba(15, 18, 19, 0.85) 80.67%);
        z-index: -1;
    }
    .play-btns {
        top: -30px;
        left: 20px;
    }
    &.style-two {
        padding-top: 100px;
    }
}
.banner-img-one {
    margin-bottom: 49px;
    padding-left: 177px;
    .banner-shape {
        &::before {
            content: "";
            position: absolute;
            top: -62px;
            right: -30px;
            width: 70px;
            height: 80px;
            background-color: $primary;
            z-index: 1;
        }
    }
    .banner-img-shape {
        left: 45px;
    }
}
.banner-social-link {
    position: absolute;
    bottom: 25px;
    right: 20px;
    z-index: 1;
    li {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: $white;
            font-family: $heading-font-family;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 2.1px;
            text-decoration: none;
            transform: rotate(-90deg);
            display: block;
        }
    }
    &.style-two {
        right: auto;
        left: -6px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        li {
            margin-bottom: 29px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.style-three {
        top: 110px;
        right: 30px;
    }   
}
.monogram {
    color: #40343A;
    text-align: center;
    font-family: "Geostar Fill", serif;
    font-size: 400px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    text-transform: uppercase;
    padding: 140px 0;
    display: inline-block;
}
.monogram-wrap {
    position: absolute;
    bottom: 190px;
    left: 0;
    right: 0;
}
.banner-area-two {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0.78) 100%);
        z-index: -1;
    }
}
.banner-content-two {
    text-align: center;
    max-width: 850px;
    margin: auto;
    margin-top: 85px;
    h1 {
        color: $primary;
        font-size: 128px;
        line-height: 115%;
        letter-spacing: -2.56px;
        margin-bottom: 0;
    }
    .shape-2 {
        top: -2px;
        left: -75px;
    }
}
.banner-content-three {
    text-align: center;
    padding-top: 45px;
    h2 {
        font-size: 86px;
        line-height: 115%;
        letter-spacing: -1.72px;
        max-width: 1291px;
        margin: auto;
        margin-top: 67px;
    }
}
.shape-3 {
    position: absolute;
    bottom: 43px;
    left: 60px;
}
.shape-4 {
    position: absolute;
    bottom: 170px;
    left: 270px;
}
.shape-5 {
    position: absolute;
    bottom: 170px;
    right: 270px;
}
.shape-6 {
    position: absolute;
    bottom: 43px;
    right: 60px;
}
.page-banner-content {
    text-align: center;
    padding: 152px 0;
    position: relative;
    z-index: 1;
    h2 {
        color: $white;
        font-family: $heading-font-family;
        font-size: 86px;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -1.72px;
    }
    .page-banner-shape {
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }
}   

/* Max width 767px */
@media only screen and (max-width : 767px) {
    .banner-area {
        padding-bottom: 60px;
    }
    .banner-content {
        padding-top: 40px;
        h2 {
            font-size: 35px;
            letter-spacing: normal;
            margin-bottom: 40px;
        }
    }
    .banner-content-two {
        margin-top: 30px;
        h1 {
            font-size: 40px;
            letter-spacing: normal;
        }
    }
    .banner-img-one {
        margin-top: 25px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
        .banner-img-shape {
            display: none;
        }
        .banner-shape {
            &::before {
                display: none;
            }
        }
    }
    .banner-area-two {
        height: 100%;
    }
    .banner-content-three {
        h2 {
            font-size: 30px;
            margin-top: 30px;
        }
    }
    .page-banner-content {
        padding-top: 70px;
        padding-bottom: 70px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 70px;
        h2 {
            font-size: 35px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .banner-area {
        padding-bottom: 60px;
    }
    .banner-content {
        padding-top: 40px;
        h2 {
            font-size: 45px;
            letter-spacing: normal;
            margin-bottom: 40px;
        }
    }
    .banner-img-one {
        margin-top: 25px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
        .banner-img-shape {
            display: none;
        }
        .banner-shape {
            &::before {
                display: none;
            }
        }
    }
    .banner-content-two {
        h1 {
            font-size: 70px;
        }
    }
    .banner-content-three {
        h2 {
            font-size: 50px;
            margin-top: 40px;
        }
    }
    .page-banner-content {
        padding-top: 70px;
        padding-bottom: 70px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 70px;
        h2 {
            font-size: 50px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .banner-content {
        h2 {
            font-size: 55px;
            margin-bottom: 100px;
        }
    }
    .banner-img-one {
        padding-left: 0;
        text-align: center;
        .banner-shape {
            &::before {
                display: none;
            }
        }
    }
    .banner-content-two {
        h1 {
            font-size: 100px;
        }
    }
    .banner-content-three {
        h2 {
            font-size: 70px;
        }
    }
    .page-banner-content {
        h2 {
            font-size: 70px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

    .banner-content {
        h2 {
            font-size: 65px;
            margin-bottom: 100px;
        }
    }
    .banner-img-one {
        padding-left: 0;
        text-align: center;
        .banner-shape {
            &::before {
                display: none;
            }
        }
    }
    .banner-content-two {
        h1 {
            font-size: 110px;
        }
    }

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width : 1400px) and (max-width : 1799px) {

    .banner-content {
        h2 {
            font-size: 80px;
            margin-bottom: 150px;
        }
    }

}

/* RTL Area Style
============================================*/
.rtl {
    .banner-img-one {
        padding-left: 0;
        padding-right: 117px;
    }
    .banner-social-link {
        right: auto;
        left: 20px;
        &.style-two {
            left: auto;
            right: 0; 
        }
    }
    .banner-shape {
        transform: scaleX(-1);
    }
    .shape-1 {
        transform: scaleX(-1);
    }
    img.position-absolute.top-0.start-0.end-0.mx-auto.z-n1.shape {
        left: 0;
        right: 0;
    }
}