/* Contact Us Area Style
============================================*/
.contact-us-area {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0.70) 52.6%, rgba(0, 0, 0, 0.97) 100%);
        z-index: -1;
    }
}
.contact-us-content {
    h2 {
        font-size: 93px;
        line-height: 1.15;
        margin-bottom: 15px;
        letter-spacing: -1.92px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.contact-us-form {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(60px);
    padding: 50px 35px;
    h3 {
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.48px;
        margin-top: -5px;
    }
    .form-group {
        margin-bottom: 28px;
        
    }
    &.ms-lg-auto {
        background-image: url(../images/contact-form-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.social-contact-area {
    margin-top: -8px;
    ul {
        border-top: 1px solid rgba(160, 160, 160, 0.30);
        li {
            a {
                text-decoration: none;
                border-bottom: 1px solid rgba(160, 160, 160, 0.30);
                display: block;
                padding: 17px 0;
                padding-left: 312px;
                i {
                    font-size: 36px;
                    color: $white;
                }
                span {
                    font-family: $heading-font-family;
                    font-size: 36px;
                    font-weight: 400;
                    line-height: 200%;
                    letter-spacing: 1.44px;
                }
                &:hover {
                    background-color: $primary;
                    span {
                        color: $dark;
                    }
                }
            }
        }
    }
}
.contact-info-single-item {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(60px);
    padding: 40px 35px;
    i {
        width: 66px;
        height: 66px;
        line-height: 66px;
        text-align: center;
        display: inline-block;
        font-size: 32px;
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 50px;
        color: $primary;
    }
    h3 {
        font-size: 20px;
        line-height: 80%;
        letter-spacing: 0.4px;
        margin-bottom: 18px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .contact-us-content {
        margin-bottom: 30px;
        h2 {
            font-size: 35px;
        }
    }
    .contact-us-form {
        padding: 20px;
        max-width: 100%;
    }
    .social-contact-area {
        ul {
            li {
                a {
                    padding: 10px;
                    i {
                        font-size: 20px;
                    }
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .contact-info-single-item {
        padding: 20px;
        h3 {
            font-size: 18px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .contact-us-content {
        margin-bottom: 30px;
        h2 {
            font-size: 45px;
        }
    }
    .contact-us-form {
        padding: 30px;
        max-width: 100%;
    }
    .social-contact-area {
        ul {
            li {
                a {
                    padding: 10px;
                    i {
                        font-size: 30px;
                    }
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .contact-info-single-item {
        padding: 20px;
        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .contact-us-content {
        h2 {
            font-size: 65px;
        }
    }

    .social-contact-area {
        ul {
            li {
                a {
                    padding-left: 150px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

    .contact-us-content {
        h2 {
            font-size: 80px;
        }
    }

}

.rtl {
    .social-contact-area {
        ul li a {
            padding-right: 312px;
            padding-left: 0;
        }
    }
}