.course-single-item {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(60px);
  padding: 35px;
  padding-right: 0;
  margin-bottom: 30px;
  position: relative;

  .course-img {
    overflow: hidden;
  }

  img {
    max-width: 341px;
    border-radius: 20px 0 0 20px;
  }

  .course-number {
    margin-top: 25px;

    .number {
      color: #eb5939;
      font-family: "Righteous", serif;
      font-size: 64px;
      font-weight: 400;
      line-height: 115%;
      letter-spacing: -1.28px;
      display: block;
      margin-bottom: 5px;
    }
  }

  .course-content {
    margin-top: 10px;

    h3 {
      font-size: 28px;
      margin-bottom: 12px;
      transition: all 0.3s ease;
    }

    .course-meta {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 20px;

      .title,
      .price {
        font-size: 18px;
        font-family: "Righteous", serif;
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: left; // default for large screens
        @media (max-width: 991px) {
          text-align: center;
          display: block; // ensures proper centering if inside flex
        }
      }

      .price {
        font-weight: 600;
        font-size: 20px;
      }
      
    }

    .btn {
      padding: 10px 20px;
      font-size: 16px;
      gap: 8px;
      i {
        font-size: 18px;
      }
    }
  }

  &:hover {
    .course-content {
      h3,
      .h3 {
        color: #eb5939;
      }
    }
  }

  /* Responsive: Max width 767px */
  @media only screen and (max-width: 767px) {
    padding: 20px;

    .course-date {
      margin: 0 0 20px;

      .date {
        font-size: 50px;
        margin-bottom: 0;
      }
    }

    .course-content {
      margin: 0;

      .title {
        font-size: 16px;
      }

      h3,
      .h3 {
        font-size: 24px;
      }

      .d-flex.align-items-center.justify-content-center {
        gap: 20px;
      }
    }

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }

  /* Responsive: Min width 768px to Max width 991px */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    padding: 30px;

    .course-date {
      margin: 0 0 20px;
    }

    .course-content {
      margin: 0;
    }

    img {
      max-width: 100%;
      border-radius: 20px;
    }
  }
}
