$primary-color: #eb5939;
$secondary-color: #9ea6ba;
$background-dark: #191c32;
$background-black: #000000;
$font-navbar: "Righteous", serif;

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease;

  .navbar-nav {
    .nav-item {
      margin-left: 12px;
      margin-right: 12px;
      position: relative;

      .nav-link {
        color: #fff;
        transition: all ease 0.5s;
        position: relative;
        padding: 0 0;
        z-index: 1;
        letter-spacing: 0.6px;
        font-size: 15px;
        font-weight: 400;
        font-family: $font-navbar;

        &.dropdown-toggle {
          position: absolute;
          right: 0;
          translate: 20px 0px;

          &::after {
            position: absolute;
            vertical-align: 0;
            content: "\ea4e";
            margin-left: 0;
            right: 0;
            border: 0;
            top: 1px;
            font-family: remixicon !important;
            font-size: 15px;
            transition: all ease 0.5s;
            color: $secondary-color;
          }
        }

        &.active {
          color: $primary-color;

          &.dropdown-toggle::after {
            color: $primary-color;
          }
        }

        &:hover {
          color: $primary-color;
        }
      }

      &.dropdown {
        .dropdown-toggle {
          position: absolute;
          top: 0;
          left: 60px;
        }

        .dropdown-menu {
          left: 0;
          top: 23px;
          border: 0;
          opacity: 0;
          width: 260px;
          padding: 15px 0;
          border-radius: 0 0 5px 5px;
          visibility: hidden;
          display: block !important;
          background-color: $background-dark;
          transition: all 0.2s ease-in-out;
          pointer-events: none;

          li {
            position: relative;

            .dropdown-item {
              display: block;
              padding: 8px 20px;
              position: relative;
              color: #fff;
              background-color: transparent !important;
              white-space: normal;
              font-size: 15px;
              font-family: $font-navbar;

              &.active,
              &:hover {
                color: $primary-color;
              }
            }

            .dropdown-menu {
              visibility: hidden;
              right: -100%;
              left: auto;
              opacity: 0;
              top: 0;
            }

            &:hover {
              .dropdown-menu {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }

      &:hover {
        .nav-link {
          color: $primary-color;

          &.dropdown-toggle::after {
            color: $primary-color !important;
          }
        }

        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        &.mega-menu {
          .dropdown-menu {
            pointer-events: auto;
          }
        }
      }
    }
  }

  .navbar-toggler {
    color: $background-black;
    font-size: inherit;
    box-shadow: unset;
    border: none;
    padding: 0;

    .burger-menu {
      cursor: pointer;

      span {
        height: 3px;
        width: 30px;
        margin: 5px 0;
        display: block;
        background-color: #fff;
      }
    }
  }

  // 🔹 Sticky navbar on scroll
  &.sticky {
    top: -1px;
    left: 0;
    width: 100%;
    position: sticky;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    background-color: $background-black !important;
    z-index: 999999;
  }
}
