/* Play List Area Style
============================================*/
.play-list-single-card {
    border: 1px solid $body-color;
    border-radius: 20px;
    .bg-img {
        border-radius: 19px;
    }
    .btn-bg {
        background-color: rgba(255, 255, 255, 0.20);
        border: 1px solid rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(10px);
    }
    .play-list-content {
        padding: 18.5px 20px;
        h3 {
            font-size: 16px;
            letter-spacing: 0.32px;
            margin-bottom: 15px;
            line-height: 25px;
            transition: $transition;
        }
    }
    &:hover {
        .play-list-content {
            h3 {
                color: $primary;
            }
        }
    }
}
.play-list-wrap {
    padding-top: 138px;
}
.mt-68 {
    margin-top: 68px;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .default-slide-controller.d-flex.justify-content-center.align-items-center.position-absolute.top-0.end-0.mt-68 {
        position: unset;
        margin: 0;
        margin-top: 20px;
    }
    .play-list-wrap {
        padding-top: 50px;
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width : 1400px) and (max-width : 1799px) {

}

@media only screen and (max-width : 1199px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    .play-list-slide {
        direction: ltr;
        text-align: right;
    }
    .default-slide-controller.d-flex.justify-content-center.align-items-center.position-absolute.top-0.end-0.mt-68 {
        right: auto;
        left: 0;
        margin-left: 0;
    }
    
}