/* Podcasts And More Area Style
============================================*/
.podcasts-and-more-single-item {
    .podcasts-and-more-img {
        position: relative;
        padding: 18px;
        padding-top: 15px;
        padding-bottom: 0;
        img {
            border-radius: 20px;
            transition: $transition;
        }
        .podcasts-play {
            right: 18px;
        }
    }
    .podcasts-and-more-content {
        border: 1px solid $border-color;
        padding: 30px 25px;
        padding-top: 75px;
        border-radius: 20px;
        margin-top: -50px;
        span {
            font-size: 15px;
            font-weight: 500;
            display: block;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 24px;
            letter-spacing: 0.48px;
            margin-bottom: -5px;
        }
        .read-more {
            margin-top: 15px;
            display: inline-block;
        }
    }
    &:hover {
        .podcasts-and-more-img {
            img {
                transform: rotate(4deg);
                border-radius: 0;
            }
        }
    }
}
.podcasts-and-more-slide {
    .swiper-slide {
        &.swiper-slide-active {
            .podcasts-and-more-single-item {
                .podcasts-and-more-img {
                    img {
                        transform: rotate(4deg);
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .podcasts-and-more-single-item {
        .podcasts-and-more-content {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .podcasts-and-more-single-item {
        .podcasts-and-more-content {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .podcasts-and-more-single-item {
        .podcasts-and-more-content {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width : 1400px) and (max-width : 1799px) {

    .podcasts-and-more-single-item {
        .podcasts-and-more-content {
            h3 {
                font-size: 20px;
            }
        }
    }

}

/* RTL Area Style
============================================*/
.rtl {
   
    .podcasts-and-more-single-item {
        .podcasts-and-more-img {
            .podcasts-play {
                left: 60px;
                right: auto;
            }
        }
    }
    .podcasts-and-more-slide {
        direction: ltr;
        text-align: right;
    }
}