// Variables
$border-color: #a0a0a0;
$bg-dark: #0f1213;
$bg-white: #fff;
$bg-disabled: #4a4a4a;
$font-main: "Righteous", serif;
$transition: all ease 0.5s;

// Podcasts and More Section
.podcasts-and-more-area {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.97) 0%,
      rgba(0, 0, 0, 0.7) 52.6%,
      rgba(0, 0, 0, 0.97) 100%
    );
    z-index: -1;
  }
}

.podcasts-and-more-single-item {
  .podcasts-and-more-img {
    position: relative;
    padding: 15px 18px 0;

    img {
      width: 100%; // take full width of container
      // height: 100%; // take full height
      object-fit: fill; // cover the container (no empty space)
      border-radius: 20px;
      transition: $transition;
      aspect-ratio: 1/1;
      display: block;
    }
  }

  .podcasts-and-more-content {
    border: 1px solid $border-color;
    padding: 75px 25px 30px;
    border-radius: 20px;
    margin-top: -50px;

    h3 {
      font-size: 24px;
      letter-spacing: 0.48px;
      margin-bottom: -5px;
    }
  }

  &:hover {
    .podcasts-and-more-img img {
      transform: rotate(4deg);
      border-radius: 0;
    }
  }
}

// Default Slide Controller
.default-slide-controller {
  margin-top: 45px;

  .slide-icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: $bg-white;
    color: $bg-dark;
    font-size: 29px;
    font-weight: 400;
    transition: $transition;

    &.swiper-button-disabled {
      background-color: $bg-disabled;
    }
  }

  .default-pagination {
    text-align: center;
    display: inline-block;
    width: 65px;
    font-size: 18px;
    font-family: $font-main;
    letter-spacing: 0.9px;
    color: $border-color;
  }
}

// Responsive
@media only screen and (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 1400px) and (max-width: 1799px) {
  .podcasts-and-more-single-item {
    .podcasts-and-more-content {
      h3 {
        font-size: 20px;
      }
    }
  }
}
