.services {
  .card {
    border-radius: 12px;
    overflow: hidden;
    background: #020516;
    height: auto;
    * {
      position: relative;
      z-index: 1;
    }
  }

  @media (min-width: 992px) {
    .card {
      height: 450px;
    }
  }

  .img-wrapper {
    position: relative;
    aspect-ratio: 5/4;
    width: 200px;
    border-radius: 15px;
    z-index: 0;

    &::after,
    &::before {
      content: "";
      position: absolute;
      inset: -5px;
      background: conic-gradient(
        from var(--angle),
        #6f42c1,
        #212529,
        #adb5bd,
        #212529,
        #6f42c1
      );
      border-radius: inherit;
      z-index: -1;
    }

    &::before {
      z-index: -2;
      filter: blur(3px);
      opacity: 0.7;
      animation: blur-effect 3.5s linear infinite,
        glowing-border 3.5s linear infinite;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      display: block;
    }

    &:hover {
      animation: glowing-border 3.5s linear infinite;
    }
  }
}

// Custom property and animations stay global
@property --angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: false;
}

@keyframes glowing-border {
  from {
    --angle: 53deg;
  }
  to {
    --angle: 413deg;
  }
}

@keyframes blur-effect {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(10px);
  }
}
