/* Submit Music Form Area Style
============================================*/
.submit-music-form {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(60px);
    padding: 50px 35px;
    max-width: 856px;
    margin: auto;
    h4 {
        color: $white;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 155.556%;
        letter-spacing: 0.36px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 0%;
        margin-bottom: 30px;
    }
}
.form-group {
    .label {
        color: $white;
        font-family: $heading-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 114.286%;
        letter-spacing: 0.28px;

    }
}
.role-btn {
    border: 1px solid rgba(160, 160, 160, 0.50);
    background-color: transparent;
    color: $white;
    padding: 15px 43px;
    transition: $transition;
    &.active {
        background-color: $primary;
        border-color: $primary;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .submit-music-form {
        padding: 20px;
        h4 {
            font-size: 16px;
        }
    }
    .role-btn {
        padding: 10px 20px;
    }

}