/* Top Music Playlist Area Style
============================================*/
.top-music-playlist-single-item {
    border: 1px solid $border-color;
    border-radius: 21px;
    .bg-img {
        width: 229px;
        height: 100%;   
        border-radius: 20px;
    }
    .top-music-playlist-content {
        padding: 50px 25px;
        .title {
            font-size: 15px;
            font-weight: 500;
            display: block;
            margin-bottom: 4px;
        }
        h3 {
            font-size: 20px;
            letter-spacing: 0.4px;
            margin-bottom: 19px;
            margin-top: 6px;
            transition: $transition;
        }
        .listen-play {
            padding: 11.5px 25px;
        }
    }
    .play-pause {
        padding: 7px 9px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.style-two {
        margin-bottom: 90px;
        .bg-img {
            width: 450px;
        }
        h3 {
            font-size: 32px;
            letter-spacing: 0.64px;
            line-height: 125%;
            max-width: 509px;
        }
        .whispers-play {
            right: -25px;
            margin-right: -25px;
        }
    }
    &.style-three {
        background-color: #271A33;
        border-radius: 0;
        border: 0;
        .bg-img {
            width: 178px;
            border-radius: 20px 0 0 20px;
        }
        h3 {
            font-size: 32px;
            letter-spacing: 0.64px;
            line-height: 125%;
            max-width: 509px;
        }
        .whispers-play {
            right: auto;
            left: -25px;
            margin-right: -25px;
        }
        .p-10 {
            padding: 30px;
            padding-right: 0;
        }
        .count {
            color: rgba(143, 162, 244, 0.12);
            font-family: $heading-font-family;
            font-size: 120px;
            font-weight: 400;
            line-height: 115%;
            letter-spacing: -12px;
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
    &:hover {
        .top-music-playlist-content {
            h3 {
                color: $primary;
            }
        }
    }
}
.top-music-playlist-wrap {
    padding-left: 88px;
}
.top-music-playlist-wrap-two {
    border: 1px solid $border-color;
    border-radius: 20px;
    overflow: hidden;
}
.top-music-playlist-single-item-two {
    padding: 0 45px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.30);
    transition: $transition;
    cursor: pointer;
    .top-music-playlist-img {
        img {
            border-radius: 20px;
            opacity: 0;
            transition: $transition;
            max-width: 367px;
        }
    }
    .author {
        transition: $transition;
        color: #EB5939;
        font-size: 15px;
        font-weight: 500;
        display: block;
        top: 32px;
    }
    .top-music-playlist-wrap-content {
        .title {
            font-size: 15px;
            font-weight: 500;
            display: block;
            margin-bottom: 5px;
            opacity: 0;
            transition: $transition;
        }
        h2 {
            color: $body-color;
            font-size: 64px;
            font-weight: 400;
            line-height: 1.12;
            letter-spacing: -1.28px;
            margin-bottom: 0;
            transition: $transition;
        }
        .wish-comment {
            margin-top: 30px;
            opacity: 0;
            transition: $transition;
        }
    }
    .play-buttons {
        opacity: 0;
        transition: $transition;
    }
    .for-height {
        height: 217px;
        transition: $transition;
    }
    &.active {
        padding: 50px 45px;
        .top-music-playlist-img {
            .author {
                opacity: 0;
            }
            img {   
                opacity: 1;
            }
        }
        .play-buttons {
            opacity: 1;
        }
        .for-height {
            height: auto;
        }
        .top-music-playlist-wrap-content {
            h2 {
                color: $primary;
            }
            .title {
                opacity: 1;
            }
            .wish-comment {
                opacity: 1;
            }
        }
    }
}
.playlist-details-single-item {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    padding: 17px 25px;
    transition: $transition;
    margin-bottom: 5px;
    img {
        border-radius: 10px;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.4px;
    }
    &:hover {
        border-color: rgba(255, 255, 255, 0.20);
    }
    &.active {
        border-color: rgba(255, 255, 255, 0.20);
    }
}


/* Max width 767px */
@media only screen and (max-width : 767px) {

    .top-music-playlist-wrap {
        padding-left: 0;
    }
    .top-music-playlist-single-item-two {
        padding: 15px;
        .top-music-playlist-img {
            margin-bottom: 20px;
            img {
                max-width: 100%;
                opacity: 1;
            }
        }
        .play-buttons {
            opacity: 1;
        }
        .for-height {
            height: auto;
        }
        .top-music-playlist-wrap-content {
            h2 {
                font-size: 30px;
            }
            .title {
                opacity: 1;
            }
            .wish-comment {
                opacity: 1;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &.active {
            padding: 15px;
        }
    }
    .top-music-playlist-single-item {
        &.style-two {
            margin-bottom: 60px;
            .bg-img {
                width: 100%;
            }
            h3 {
                font-size: 25px;
                max-width: 100%;
            }
            .whispers-play {
                right: 20px;
            }
        }
    }
    .playlist-details-single-item {
        h3 {
            font-size: 17px;
        }
    }
}

/* Max width 576px */
@media only screen and (max-width : 575px) {

    .top-music-playlist-wrap {
        padding-left: 0;
    }
    .top-music-playlist-single-item {
        .bg-img {
            height: 200px;
            width: 100%;
        }
        .top-music-playlist-content {
            padding: 15px;
            h3 {
                font-size: 18px;
            }
        }
        &.style-three {
            .p-10 {
                padding: 0;
            }
            .bg-img {
                width: 100%;
                border-radius: 0 0 20px 20px;
            }
            .whispers-play {
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

}

@media only screen and (min-width : 576px) and (max-width : 768px) {

    .top-music-playlist-single-item {
        &.style-two {
            .bg-img {
                width: 150px;
            }
        }
        &.style-three .p-10 {
            padding-left: 0;
        }
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .top-music-playlist-wrap {
        padding-left: 0;
    }
    .top-music-playlist-single-item-two {
        padding: 15px;
        .top-music-playlist-img {
            margin-bottom: 20px;
            img {
                max-width: 100%;
                opacity: 1;
            }
        }
        .play-buttons {
            opacity: 1;
        }
        .for-height {
            height: auto;
        }
        .top-music-playlist-wrap-content {
            h2 {
                font-size: 40px;
            }
            .title {
                opacity: 1;
            }
            .wish-comment {
                opacity: 1;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &.active {
            padding: 15px;
        }
    }
    .top-music-playlist-single-item {
        &.style-two {
            .bg-img {
                width: 200px;
            }
        }
    }
    .playlist-details-single-item {
        h3 {
            font-size: 17px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px)  {

    .top-music-playlist-wrap {
        padding-left: 0;
    }
    .top-music-playlist-single-item-two {
        padding: 15px;
        .top-music-playlist-img {
            margin-bottom: 20px;
            img {
                max-width: 100%;
                opacity: 1;
            }
        }
        .play-buttons {
            opacity: 1;
        }
        .for-height {
            height: auto;
        }
        .top-music-playlist-wrap-content {
            h2 {
                font-size: 40px;
            }
            .title {
                opacity: 1;
            }
            .wish-comment {
                opacity: 1;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &.active {
            padding: 15px;
        }
    }
    .top-music-playlist-single-item {
        &.style-two {
            .bg-img {
                width: 300px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width : 1200px) and (max-width : 1399px) {

    .top-music-playlist-wrap {
        padding-left: 0;
    }
    .top-music-playlist-single-item-two {
        .top-music-playlist-img {
            img {
                width: 323px;
            }
        }
        .top-music-playlist-wrap-content {
            h2 {
                font-size: 40px;
            }
        }
    }

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width : 1400px) and (max-width : 1799px) {
    .top-music-playlist-single-item-two {
        .top-music-playlist-wrap-content {
            h2 {
                font-size: 50px;
            }
        }
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .top-music-playlist-slide {
        direction: ltr;
    }
    .top-music-playlist-single-item {
        &.style-two {
            .whispers-play {
                right: auto;
                left: -25px;
                margin-right: 0;
                margin-left: -25px;
            }
        }
    }
    .top-music-playlist-single-item.style-three {
        .p-10 {
            padding-left: 0;
            padding-right: 30px;
        }
        .bg-img {
            border-radius: 0 20px 20px 0;
        }
        .whispers-play {
            left: auto;
            right: -25px;
            margin-left: 0;
            margin-right: -25px;
        }
        .count {
            left: auto;
            right: 30px;
        }
    }
    
}