/* Top Play Area Style
============================================*/
.top-play-tabs {
    padding-top: 6px;
    margin-bottom: 50px;
    .nav-item {
        .nav-link {
            color: $white;
            font-family: $heading-font-family;
            font-size: 16px;
            letter-spacing: 0.32px;
            border-radius: 25px;
            position: relative;
            z-index: 1;
            padding: 18px 49px;
            border: 0;
            background-size: 0;
            transition: $transition;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                background: $body-bg;
                z-index: -1;
                transition: $transition;
            }   
            &.active {
                background-size: 100%;
                &::before {
                    background: linear-gradient(0deg, rgba(15, 18, 19, 0.65) 0%, rgba(15, 18, 19, 0.65) 100%);
                }
            }
        }
    }
}
.top-play-single-item {
    border-radius: 21px;
    margin-bottom: 25px;
    background: linear-gradient($body-bg, $body-bg) padding-box, linear-gradient(to bottom, #735051, #4E5983) border-box;
    border: 1px solid transparent;

    .bg-img {
        width: 112px;
        height: 100%;   
        border-radius: 20px;
        .whispers-play {
            background-color: rgba(255, 255, 255, 0.20);
            border: 1px solid rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(10px);
        } 
    }
    .today-tunes-content {
        padding: 25px;
        h3 {
            font-size: 16px;
            letter-spacing: 0.32px;
            margin-bottom: 5px;
            transition: $transition;
        }
        p {
            font-size: 15px;
            margin-bottom: 15px;
        }
        .whispers-play {
            right: 20px;
            opacity: 0;
            transition: $transition;
        }
    }
    &:hover {
        .today-tunes-content {
            h3 {
                color: $primary;
            }
        }
    }
    
}
.top-playlist-album-single-item {
    background-color: #271A33;
    position: relative;
    .count-img {
        padding: 30px;
        padding-right: 0;
        .count {
            color: rgba(143, 162, 244, 0.12);
            font-size: 120px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -12px;
            font-family: $heading-font-family;
        }
        .title {
            font-size: 15px;
            font-weight: 500;
            line-height: 1;
            position: absolute;
            top: 55px;
            left: 0;
            width: 140px;
            display: block;
        }
        img {
            border-radius: 20px 0 0 20px;
        }
    }
    .top-playlist-album-content {
        padding: 30px;
        padding-top: 10px;
        h3 {
            font-size: 20px;
            letter-spacing: 0.4px;
            margin-bottom: 45px;
            transition: $transition;
        }
        .listen-play {
            padding: 11.5px 25px;
            padding-left: 10px;
        }
        .default-btn {
            background: linear-gradient(#271A33, #271A33) padding-box, linear-gradient(to bottom, #8FA2F4, #FBA2EF) border-box;
            border: 1px solid transparent;
            width: 100%;
            &:hover {
                background: $primary;
            }
        }
    }
    &:hover {
        .top-playlist-album-content {
            h3 {
                color: $primary;
            }
        }
    }
}
.top-playlist-album-slide {
    direction: ltr;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .top-play-single-item {
        .today-tunes-content {
            padding: 15px;
            .d-flex.align-items-center {
                gap: 15px;
            }
        }
    }
    .top-playlist-album-single-item {
        .count-img {
            padding: 15px;
            .count {
                font-size: 80px;
            }
        }
        .top-playlist-album-content {
            padding: 15px;
            h3 {
                margin-bottom: 20px;
                font-size: 18px;
            }
        }
    }
    .top-play-tabs .nav-item .nav-link {
        padding: 18px 8px;
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .top-play-single-item {
        .today-tunes-content {
            padding: 15px;
            .d-flex.align-items-center {
                gap: 15px;
            }
        }
    }

}