.page-banner-content {
  text-align: center;
  padding: 152px 0;
  position: relative;
  z-index: 1;
}
.page-banner-content h2,
.page-banner-content .h2 {
  color: #fff;
  font-family: "Righteous", serif !important;
  font-size: 86px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: -1.72px;
}
.page-banner-content .page-banner-shape {
  position: absolute;
  top: -85px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .page-banner-content {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 70px;
  }
  .page-banner-content h2,
  .page-banner-content .h2 {
    font-size: 35px;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner-content {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 70px;
  }
  .page-banner-content h2,
  .page-banner-content .h2 {
    font-size: 50px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-banner-content h2,
  .page-banner-content .h2 {
    font-size: 70px;
  }
}


.about-us-content {
  margin: -8px 0;
}
.about-us-content .about-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Righteous", serif;
  display: block;
  margin-bottom: 24px;
}
.about-us-content h2,
.about-us-content .h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -1.28px;
  margin-bottom: 0;
}
.about-us-content h2 span,
.about-us-content .h2 span {
  color: #eb5939;
}
.about-content-top {
  max-width: 850px;
  margin: auto;
}
.about-content-top h1,
.about-content-top .h1 {
  color: #eb5939;
  font-size: 250px;
  font-weight: 400;
  line-height: 0;
  letter-spacing: -5px;
  margin-bottom: 0;
}
.about-content-top p {
  font-size: 24px;
  font-weight: 500;
  line-height: 133.333%;
}
.about-content {
  max-width: 850px;
  margin: auto;
}
.about-content h3,
.about-content .h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 88.889%;
  letter-spacing: 1.44px;
  margin-bottom: 25px;
}
.about-content .count {
  font-family: "Righteous", serif;
  font-weight: 400;
  line-height: 160%; /* 160% */
  letter-spacing: 0.4px;
  position: relative;
  top: 4px;
  padding-right: 10px;
}
.about-content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.about-content p .title {
  font-family: "Righteous", serif;
  font-weight: 400;
  line-height: 160%; /* 160% */
  letter-spacing: 0.4px;
}
.about-content ul li {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .about-us-content .about-title {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 30px;
  }
  .about-content-top h1,
  .about-content-top .h1 {
    font-size: 50px;
    line-height: normal;
  }
  .about-content-top p {
    font-size: 20px;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-us-content .about-title {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 40px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-us-content .about-title {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 50px;
  }
}
