@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

.social-contact {
  padding: 20%;
  width: 100%;
}
.social-contact h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.contact-us-form {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(60px);
  padding: 50px 35px;
}
.contact-us-form h3,
.contact-us-form .h3 {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.48px;
  margin-top: -5px;
}
.contact-us-form .form-group {
  margin-bottom: 28px;
}
.contact-us-form.ms-lg-auto {
  background-image: url(../images/contact-form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
textarea {
  &.form-control {
    height: auto;
  }
}
.form-control {
  background: rgba(0, 0, 0, 0.25);
  border: 0;
  height: 56px;
  color: #fff;
  font-size: 14px;
  padding: 18px 20px;
  padding-left: 45px;
  width: 100%;
  border-radius: 0;
  transition: all ease 0.5s;
}
.form-control::placeholder {
  color: #a0a0a0;
  font-size: 14px;
}
.form-control:focus {
  background-color: #0c1300;
  box-shadow: unset;
  outline: 0;
}
.form-icon {
  font-size: 20px;
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.contact-info .shadow {
  background: rgba(0, 0, 0, 0.9);
}
.social-media-links a:hover i{
  color: #eb5939;
}
