/* about us style */
.more-about-btn {
  font-family: "Righteous", serif;
  display: block;
  text-align: center;  
  text-decoration: none;
}

.about-us-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Righteous", serif;
  display: block;
  margin-bottom: 24px;
  text-align: center;
}
.about-us-content h2,
.about-us-content .h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -1.28px;
  margin-bottom: 0;
}
.about-us-content h2 span,
.about-us-content .h2 span {
  color: #eb5939;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .about-us-content {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 30px;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-us-content {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 40px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-us-content {
    margin-bottom: 15px;
  }
  .about-us-content h2,
  .about-us-content .h2 {
    font-size: 50px;
  }
}

/* marquee style */
.marquee-wrapper {
  overflow: hidden;
}
.marquee-wrapper .marquee {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  transform: translate3d(0%, 0, 0);
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 57s;
}
.marquee-wrapper .marquee.speed-300 {
  animation-duration: 300s;
}
.marquee-wrapper .marquee .flash-note {
  display: inline-block;
  white-space: nowrap;
  margin: 0 100px;
}
.marquee-wrapper:hover .marquee {
  animation-play-state: paused !important;
}

@keyframes marquee {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.monogram {
  color: #40343A;
  text-align: center;
  font-family: "Geostar Fill", serif;
  font-size: 400px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  text-transform: uppercase;
  padding: 140px 0;
  display: inline-block;
}

/* product style */

.podcasts-and-more-area {
  position: relative;
  z-index: 1;
}
.podcasts-and-more-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0.7) 52.6%, rgba(0, 0, 0, 0.97) 100%);
  z-index: -1;
}

.podcasts-and-more-single-item .podcasts-and-more-img {
  position: relative;
  padding: 18px;
  padding-top: 15px;
  padding-bottom: 0;
}
.podcasts-and-more-single-item .podcasts-and-more-img img {
  border-radius: 20px;
  transition: all ease 0.5s;
}
.podcasts-and-more-single-item .podcasts-and-more-img .podcasts-play {
  right: 18px;
}
.podcasts-and-more-single-item .podcasts-and-more-content {
  border: 1px solid #a0a0a0;
  padding: 30px 25px;
  padding-top: 75px;
  border-radius: 20px;
  margin-top: -50px;
}
.podcasts-and-more-single-item .podcasts-and-more-content span {
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.podcasts-and-more-single-item .podcasts-and-more-content h3,
.podcasts-and-more-single-item .podcasts-and-more-content .h3 {
  font-size: 24px;
  letter-spacing: 0.48px;
  margin-bottom: -5px;
}
.podcasts-and-more-single-item .podcasts-and-more-content .read-more {
  margin-top: 15px;
  display: inline-block;
}
.podcasts-and-more-single-item:hover .podcasts-and-more-img img {
  transform: rotate(4deg);
  border-radius: 0;
}
.podcasts-and-more-slide
  .swiper-slide.swiper-slide-active
  .podcasts-and-more-single-item
  .podcasts-and-more-img
  img {
  transform: rotate(4deg);
  border-radius: 0;
}
.default-slide-controller {
  margin-top: 45px;
}
.default-slide-controller .slide-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  color: #0F1213;
  font-size: 29px;
  font-weight: 400;
  transition: all ease 0.5s;
}
.default-slide-controller .slide-icon.swiper-button-disabled {
  background-color: #4A4A4A;
}
.default-slide-controller .default-pagination {
  text-align: center;
  display: inline-block;
  width: 65px;
  font-size: 18px;
  font-family: "Righteous", serif;
  letter-spacing: 0.9px;
  color: #A0A0A0;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .podcasts-and-more-single-item .podcasts-and-more-content h3,
  .podcasts-and-more-single-item .podcasts-and-more-content .h3 {
    font-size: 20px;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .podcasts-and-more-single-item .podcasts-and-more-content h3,
  .podcasts-and-more-single-item .podcasts-and-more-content .h3 {
    font-size: 20px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .podcasts-and-more-single-item .podcasts-and-more-content h3,
  .podcasts-and-more-single-item .podcasts-and-more-content .h3 {
    font-size: 20px;
  }
}
/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {
  .podcasts-and-more-single-item .podcasts-and-more-content h3,
  .podcasts-and-more-single-item .podcasts-and-more-content .h3 {
    font-size: 20px;
  }
}

/* service style */
.top-podcast-area {
  position: relative;
  z-index: 1;
}
.top-podcast-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.top-podcast-single-item {
  padding: 30px;
  position: relative;
  z-index: 1;
  border-right: 1px solid rgba(160, 160, 160, 0.3);
  height: 505px;
  transition: all ease 0.5s;
}
.top-podcast-single-item .bg-img {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0 100%);
  /* opacity: 0; */
  transition: all ease 0.5s;
  z-index: -1;
}
.top-podcast-single-item .bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.1%,
    rgba(15, 18, 19, 0.85) 80.67%
  );
  z-index: -1;
}
.top-podcast-single-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.1%,
    rgba(15, 18, 19, 0.85) 80.67%
  );
  z-index: -1;
}
.top-podcast-single-item .top-podcast-content {
  margin-top: 305px;
}
.top-podcast-single-item .top-podcast-content h3,
.top-podcast-single-item .top-podcast-content .h3 {
  font-family: "Righteous", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;
  transition: all ease 0.5s;
}
.top-podcast-single-item:hover .bg-img {
  clip-path: polygon(0 0, 87% 0, 100% 14%, 100% 100%, 0 100%);
}
.top-podcast-single-item:hover .top-podcast-content h3,
.top-podcast-single-item:hover .top-podcast-content .h3 {
  color: #eb5939;
}
.top-podcast-wrap {
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  overflow: hidden;
}
.top-podcast-wrap .col-lg-25 {
  transition: all ease 0.5s;
  width: 25%;
  display: table-cell;
}
.top-podcast-wrap:hover .col-lg-25 {
  width: 20%;
}
.top-podcast-wrap:hover .col-lg-25:hover {
  width: 40%;
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  .top-podcast-single-item {
    height: auto;
  }
  .top-podcast-single-item .bg-img {
    opacity: 1;
  }
  .top-podcast-single-item .top-podcast-content {
    margin-top: 100px;
  }
  .top-podcast-wrap .col-lg-25 {
    width: 100% !important;
    display: block;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-podcast-single-item {
    height: 300px;
    padding: 15px;
  }
  .top-podcast-single-item .bg-img {
    opacity: 1;
  }
  .top-podcast-single-item .top-podcast-content {
    margin-top: 100px;
  }
  .top-podcast-single-item .top-podcast-content h3,
  .top-podcast-single-item .top-podcast-content .h3 {
    font-size: 15px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .top-podcast-single-item {
    height: 300px;
    padding: 15px;
  }
  .top-podcast-single-item .bg-img {
    opacity: 1;
  }
  .top-podcast-single-item .top-podcast-content {
    margin-top: 120px;
  }
  .top-podcast-single-item .top-podcast-content h3,
  .top-podcast-single-item .top-podcast-content .h3 {
    font-size: 15px;
  }
}

/* client style */
.creators-title {
  font-size: 16px;
  color: #a0a0a0;
  margin-bottom: 30px;
}
.creators-title span {
  color: #eb5939;
}
.creators-single-item img {
  border-radius: 20px;
}
.creators-single-item h4,
.creators-single-item .h4 {
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
  transition: all ease 0.5s;
}
.creators-single-item:hover h4,
.creators-single-item:hover .h4 {
  color: #eb5939;
}
.marquee-slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.marquee-slider .slide-track {
  animation: auto-scroll 50s linear infinite;
  display: flex;
  padding: 0 3%;
}
.slide {
  flex: 0 0 20%;
}
.marquee-slider .slide {
  margin-right: 100px;
}
.slide-track img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.marquee-slider .slide-track:hover {
  animation-play-state: paused;
}
@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* contact us form */
.contact-us-area {
  position: relative;
  z-index: 1;
}
.contact-us-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.97) 0%, rgba(0, 0, 0, 0.7) 52.6%, rgba(0, 0, 0, 0.97) 100%);
  z-index: -1;
}

.contact-us-content h2, .contact-us-content .h2 {
  font-size: 93px;
  line-height: 1.15;
  margin-bottom: 15px;
  letter-spacing: -1.92px;
}
.contact-us-content h2:last-child, .contact-us-content .h2:last-child {
  margin-bottom: 0;
}

.contact-us-form {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(60px);
  padding: 50px 35px;
}
.contact-us-form h3, .contact-us-form .h3 {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.48px;
  margin-top: -5px;
}
.contact-us-form .form-group {
  margin-bottom: 28px;
}
.contact-us-form.ms-lg-auto {
  background-image: url(../images/contact-form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-contact-area {
  margin-top: -8px;
}
.social-contact-area ul {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
}
.social-contact-area ul li a {
  text-decoration: none;
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  display: block;
  padding: 17px 0;
  padding-left: 312px;
}
.social-contact-area ul li a i {
  font-size: 36px;
  color: #fff;
}
.social-contact-area ul li a span {
  font-family: "Righteous", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 1.44px;
}
.social-contact-area ul li a:hover {
  background-color: #EB5939;
}
.social-contact-area ul li a:hover span {
  color: #000000;
}

.contact-info-single-item {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(60px);
  padding: 40px 35px;
}
.contact-info-single-item i {
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 50px;
  color: #EB5939;
}
.contact-info-single-item h3, .contact-info-single-item .h3 {
  font-size: 20px;
  line-height: 80%;
  letter-spacing: 0.4px;
  margin-bottom: 18px;
}
.contact-info-single-item p {
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .contact-us-content {
    margin-bottom: 30px;
  }
  .contact-us-content h2, .contact-us-content .h2 {
    font-size: 35px;
  }
  .contact-us-form {
    padding: 20px;
    max-width: 100% !important;
  }
  .social-contact-area ul li a {
    padding: 10px !important;
  }
  .social-contact-area ul li a i {
    font-size: 20px;
  }
  .social-contact-area ul li a span {
    font-size: 20px;
  }
  .contact-info-single-item {
    padding: 20px;
  }
  .contact-info-single-item h3, .contact-info-single-item .h3 {
    font-size: 18px;
  }
}
/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-us-content {
    margin-bottom: 30px;
  }
  .contact-us-content h2, .contact-us-content .h2 {
    font-size: 45px;
  }
  .contact-us-form {
    padding: 30px;
    max-width: 100% !important;
  }
  .social-contact-area ul li a {
    padding: 10px !important;
  }
  .social-contact-area ul li a i {
    font-size: 30px;
  }
  .social-contact-area ul li a span {
    font-size: 30px;
  }
  .contact-info-single-item {
    padding: 20px;
  }
  .contact-info-single-item h3, .contact-info-single-item .h3 {
    font-size: 18px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contact-us-content h2, .contact-us-content .h2 {
    font-size: 65px;
  }
  .social-contact-area ul li a {
    padding-left: 150px !important;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .contact-us-content h2, .contact-us-content .h2 {
    font-size: 80px;
  }
}
.rtl .social-contact-area ul li a {
  padding-right: 312px;
  padding-left: 0;
}

textarea {   
  &.form-control {
      height: auto;
  }
}

.form-control {
  background: rgba(0, 0, 0, 0.25);
  border: 0;
  height: 56px;
  color: #fff;
  font-size: 14px;
  padding: 18px 20px;
  padding-left: 45px;
  width: 100%;
  border-radius: 0;
  transition: all ease 0.5s;
}
.form-control::placeholder {
  color: #A0A0A0;
  font-size: 14px;
}
.form-control:focus {
  background-color: #0C1300;
  box-shadow: unset;
  outline: 0;
}

.form-icon {
  font-size: 20px;
  color: #A0A0A0;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

.default-btn {
  position: relative;
  padding: 4px 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  color: white; /* hardcoded */
  overflow: hidden;
  background: linear-gradient(180deg, #FBA2EF 0%, #8FA2F4 100%);
  border: 0;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.default-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-radius: 4px;
  transition: all 0.5s ease;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1); /* optional hover overlay */
}

.default-btn i {
  font-size: 24px;
}

.default-btn:hover {
  color: white;
}

.default-btn:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

/* footer text */
.font-family-heading {
  font-family: "Righteous", serif;
}