.top-play-tabs {
  padding-top: 6px;
  margin-bottom: 50px;
}
.top-play-tabs .nav-item .nav-link {
  color: #fff;
  font-family: "Righteous", serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  padding: 18px 49px;
  border: 0;
  background-size: 0;
  transition: all ease 0.5s;
}
.top-play-tabs .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #020516;
  z-index: -1;
  transition: all ease 0.5s;
}
.top-play-tabs .nav-item .nav-link.active {
  background-size: 100%;
}
.top-play-tabs .nav-item .nav-link.active::before {
  background: linear-gradient(0deg, rgba(15, 18, 19, 0.65) 0%, rgba(15, 18, 19, 0.65) 100%);
}


.blog-single-item {
  margin-bottom: 45px;
}
.blog-single-item .blog-img{
  object-fit: cover;
  width: 100%
}
.blog-single-item .blog-img {
  border-radius: 20px;
  margin-bottom: 25px;
}
.blog-single-item .blog-content h3, .blog-single-item .blog-content .h3 {
  border-top: 1px solid rgba(49, 47, 46, 0.78);
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
