.carousel-item img {
  animation: zoomEffect 8s ease-in-out infinite;
  transform-origin: center;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* zoom in */
  }
  100% {
    transform: scale(1); /* zoom out */
  }
}

.content-area-1 .title {
  background-image: linear-gradient(120deg, #0d1b2a 0%, #000000 100%);
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
  margin-top: 15vh;
}

.content-area-1 .image-stack {
  position: relative;
  perspective: 1000px;
}

.content-area-1 .image-stack .img {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.5s ease, z-index 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.content-area-1 .image-stack .img-1 {
  transform: translate(calc(-25% - 0px), calc(-20% - 0px)) rotateX(15deg)
    rotateY(-10deg) rotateZ(-5deg);
  z-index: 3;
}

.content-area-1 .image-stack .img-2 {
  transform: translate(calc(-10% - 0px), calc(15% - 0px)) rotateX(-10deg)
    rotateY(15deg) rotateZ(10deg);
  z-index: 2;
}

.content-area-1 .image-stack .img-3 {
  transform: translate(calc(15% - 0px), calc(-10% - 0px)) rotateX(5deg)
    rotateY(-15deg) rotateZ(5deg);
  z-index: 1;
}

.content-area-1 .image-stack .img:hover {
  transform: translate(0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1.05);
  z-index: 10;
}

.content-area-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/contact-banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20% 0;
  width: 100%;
}

.content-area-2 .content-wrapper .content-item {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.content-area-3 .image-box {
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 20px;
  box-shadow: rgba(0, 9, 125, 0.56) 0px 30px 43px 0px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  text-align: center;
}

.content-area-4 .main-content, .content-area-4 .content-wrapper .content-item {
  background-image: linear-gradient(120deg, #0d1b2a 0%, #000000 100%);
}

