a {
  transition: all ease 0.5s;
  color: #a0a0a0;
}
a:hover {
  color: #eb5939;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Righteous", serif;
  font-weight: 400;
}

.label {
  font-size: 14px;
  letter-spacing: 0.28px;
  font-family: $heading-font-family;
  color: $white;
  font-weight: 400;
  margin-bottom: 10px;
  span {
    color: $danger;
  }
}
.form-control {
  background: rgba(0, 0, 0, 0.25);
  border: 0;
  height: 56px;
  color: $white;
  font-size: 14px;
  padding: 18px 20px;
  padding-left: 45px;
  width: 100%;
  border-radius: 0;
  transition: $transition;

  &::placeholder {
    color: $body-color;
    font-size: 14px;
  }
  &:focus {
    background-color: $secondary;
    box-shadow: unset;
    outline: 0;
  }
  &.form-select {
    cursor: pointer;
  }
}
.form-select {
  background-image: url(../images/down.svg);
  background-position: right 20px center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
textarea {
  &.form-control {
    height: auto;
  }
}
.form-icon {
  font-size: 20px;
  color: $body-color;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.default-btn {
  position: relative;
  padding: 4px 25px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  color: white; /* hardcoded */
  overflow: hidden;
  background: linear-gradient(180deg, #fba2ef 0%, #8fa2f4 100%);
  border: 0;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
