.feature-row {
  display: flex;
  align-items: stretch;

  .col-md-6 {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .feature-box {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border: 1px solid #ddd; // Subtle border
    border-radius: 10px; // Rounded corners
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Soft shadow
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
  }
}
